@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A simple calculator that calculates the square roots of two numbers and tells the highest. </p>
</div>



